allow system_server default_android_hwservice:hwservice_manager find;
allow system_server init:binder call;
allow system_server keylayout_file:dir search;
allow system_server keylayout_file:file { getattr open read };
allow system_server sysfs_kgsl:lnk_file read;
allow system_server idc_file:dir search;
allow system_server idc_file:file { getattr open read };
allow system_server sysfs:file { getattr open read };
