allow vendor_init block_device:lnk_file setattr;
allow vendor_init media_rw_data_file:dir setattr;
allow vendor_init seemp_data_file:dir { create setattr };
allow vendor_init system_data_file:dir { add_name create setattr write };
allow vendor_init tombstone_data_file:dir { add_name create setattr write };
